repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "2.3.1"
    hooks:
      # Validate poetry configuration.
      - id: poetry-check
      # Update the lock file.
      - id: poetry-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
