[tool.poetry]
name = "pylitterbot"
version = "0.0.0"
description = "Python package for controlling Whisker automatic robots."
authors = ["Nathan Spencer <natekspencer@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/natekspencer/pylitterbot"
repository = "https://github.com/natekspencer/pylitterbot"
keywords = ["Whisker", "Litter-Robot", "Feeder-Robot", "litter box", "pet feeder", "asynchronous"]
include = ["pylitterbot/py.typed"]

[tool.poetry.dependencies]
python = "^3.8.1"
aiohttp = "^3.8.1"
deepdiff = "^6.2.1"
PyJWT = "^2.7.0"
"backports.zoneinfo" = {version = "^0.2.1", python = "<3.9"}

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"
pytest-cov = "^4.1.0"
pytest-freezegun = "^0.4.2"
aioresponses = "^0.7.4"
mypy = "^1.3"
tox = ">=3.28,<5.0"
pytest-timeout = "^2.1.0"
ruff = "^0.2.1"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"
