[tool.poetry]
name = "pylitterbot"
version = "2023.1.2"
description = "Python package for controlling Whisker automatic robots."
authors = ["Nathan Spencer <natekspencer@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/natekspencer/pylitterbot"
repository = "https://github.com/natekspencer/pylitterbot"
keywords = ["Whisker", "Litter-Robot", "Feeder-Robot", "litter box", "pet feeder", "asynchronous"]
include = ["pylitterbot/py.typed"]

[tool.poetry.dependencies]
python = "^3.7.2"
aiohttp = "^3.8.1"
deepdiff = "^6.2.1"
PyJWT = "^2.4.0"
"backports.zoneinfo" = {version = "^0.2.1", python = "<3.9"}

[tool.poetry.dev-dependencies]
pytest = "^7.2.1"
pytest-asyncio = "^0.20.3"
pytest-cov = "^4.0.0"
pytest-freezegun = "^0.4.2"
aioresponses = "^0.7.4"
black = "^23.1.0"
isort = "^5.11.5"
mypy = "^1.0"
flake8 = "^5.0.4"
pylint = "^2.16.1"
tox = "^3.28.0"
pydocstyle = "^6.3.0"
pytest-timeout = "^2.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
