[tool.poetry]
name = "pylitterbot"
version = "2022.8.0"
description = "Python package for controlling Whisker automatic robots."
authors = ["Nathan Spencer <natekspencer@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/natekspencer/pylitterbot"
repository = "https://github.com/natekspencer/pylitterbot"
keywords = ["Whisker", "Litter-Robot", "Feeder-Robot", "litter box", "pet feeder", "asynchronous"]
include = ["pylitterbot/py.typed"]

[tool.poetry.dependencies]
python = "^3.7.2"
aiohttp = "^3.8.1"
deepdiff = "^5.8.1"
PyJWT = "^2.4.0"
"backports.zoneinfo" = {version = "^0.2.1", python = "<3.9"}

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
pytest-cov = "^3.0.0"
pytest-freezegun = "^0.4.2"
aioresponses = "^0.7.3"
black = "^22.6.0"
isort = "^5.10.1"
mypy = "^0.971"
flake8 = "^4.0.1"
pylint = "^2.14.5"
tox = "^3.25.1"
pydocstyle = "^6.1.1"
pytest-timeout = "^2.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
